
html {
    background-color: #292929;
    color: rgba(255, 255, 255, 0.8);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #212121;
    color: rgba(255, 255, 255, 0.8);
}

.primary-color,
.sidenav, .modal .modal-footer {
    background-color: #292929;
}

.primary-color-text,
.sidenav > li > a,
.sidenav li > a > i, .sidenav li > a > [class^="mdi-"],
.sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
    color: rgba(255, 255, 255, 0.8);
}

#nav-search, #nav-search .col {
    height: 100%;
}

#nav-mobile {
    width: 200px;
}

/* nav logo to the right, search to the left on small screens */
@media only screen and (max-width: 600px) {
    nav .brand-logo {
        right: 0.5rem;
        left: auto;
    }
    #nav-search .col {
        float: left !important;
    }
}

form input, form textarea {
    color: rgba(255, 255, 255, 0.8);
}

a {
    color: #757575;
}

a:hover {
    color: #5d4037;
}

nav a:hover {
    color: #fff;
}

.collection {
    border: 1px solid #90a4ae;
}

.collection .collection-item {
    background-color: #353535;
    border-bottom: 1px solid #90a4ae;
}

.collection-item .secondary-content i {
    color: #cea0a0;
}

.collection-item .secondary-content i:hover {
    color: #f28989;
}

.collection .collection-item.active {
    background-color: #232222;
    color: #cfd8dc;
}

.collection a.collection-item:not(.active):hover {
    background-color: #3f3d3d;
}

.collection a.collection-item {
    color: #cfd8dc;
}

.card, .card-panel {
    background-color: #4f4848;
    color: #cfd8dc;
}

.btn-floating i {
    background-color: #795548;
}

.btn-floating i:hover {
    background-color: #c86b4a;
}



::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #151515;
    transition: 0.9s;
}

::-webkit-scrollbar-thumb {
    background-color: #3f3737;
    width: 5px;
    border: 0;
    transition: 0.7s;
}

::selection {
    background: #6e585899;
}
