#list
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	
}
.item
{
	width: 1200px;
	margin-right: auto;
}
.image
{
	width: 180px;
	height: 250px;
	margin: 10px;
	float: left;
}
.info
{
	float: left;
	width: 700px;
	
	margin: 20px;
	background-color: #666666;
}
.title
{
	width: 480px;
	margin: 10px;
}
.desc
{
	width: 480px;
	margin: 10px;
	text-align: justify;
	text-justify: inter-word;
}
.mark
{
	font-size: 30px;
	text-align: left;
	float: left;
	width: 100px;
	margin: 20px;
}
a.titlelink
{
	text-decoration: none;
	color: #212121;
	font-weight: bold;
	font-size: 18px;
}
a.titlelink:hover {
	color: #5d4037;
}