{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="section no-pad-bot">
            <div class="row center">
                 <h5>
                     Languages
                 </h5>
            </div>
            <div class="row">
                <div class="col s4 offset-s4">
                    <a href="{{ path('lang_add') }}" class="btn-floating waves-effect waves-light right">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
            <div class="row">
                {% if not lang_list %}
                    <div class="col s12 center">
                        <h6>No languages available</h6>
                    </div>
                {% else %}
                    <div class="col s4 offset-s4">
                        <ul class="collection">
                            {% for lang in lang_list %}
                                <li class="collection-item">
                                    <div>
                                        {{ lang.name }}
                                        <a href="{{ path('lang_delete', {'id': lang.id}) }}" class="secondary-content">
                                            <i class="material-icons">delete_forever</i>
                                        </a>
                                        <a href="{{ path('lang_edit', {'id': lang.id}) }}" class="secondary-content">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}