{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/watchlist.min.css') }}">
{% endblock css %}

{% block content %}
    <div id="watchlist">
        <h5 class="center">
            Watchlist
        </h5>
        {% for elem in watchlist %}
            <div id="row">
                <div id="title">{{ elem.getTitle() }} </div>
                <div>
                    <a class="btn-small right black-text" href="{{ path('movies_watchlist_remove', {id: elem.getId()}) }}">
                        Remove from watchlist
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}